* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  span{
    font-size: 20px;
    
  }
  
  html, body {
    background-color: #eee;
    margin: 0;
    padding: 0; 
  }

div{
    text-align: center;
}
ul{
    text-align: left;
    margin: 0;
    padding: 0;
    text-shadow: black 0px 0px 4px;
}
button {
    padding: 5px 10px;
    font-size: 15px;
    color: darkred;
  }
  
